<div class="row">
    <div class="container">
        <div class="col-md-11">
            <div>
                <div class="imageGal">
                    <ul class="thumbnails">
                        <li ng-repeat="pStar in pStars | orderBy:'-votes'" class="clearfix">
                            <div class="col-lg-1 voting card card-block">
                                <div class="votingButton" ng-click="upVote(pStar);"><i class="fa fa-chevron-up"></i>
                                </div>
                                <div class="label label-pill label-success">
                                    <div>{{pStar.pStarVotes}}</div>
                                </div>
                                <div class="votingButton" ng-click="downVote(pStar);"><i class="fa fa-chevron-down"></i>
                                </div>
                            </div>
                            <div class="card card-block col-lg-11">
                                <div class="row"></div>
                                <div class="col-md-4">
                                    <h4><a href="{{pStar.scoreImageUrl}}">{{pStar.stageName}}</a></h4>

                                    <p><a target="_blank"
                                          href="http://www.xvideos.com/?k={{pStar.stageName}}">xVideos</a></p>

                                    <p><a target="_blank"
                                          href="http://www.spankwire.com/search/straight/keyword/{{pStar.stageName}}">Spankwire</a>
                                    </p>

                                    <p><a target="_blank" href="http://mrstiff.com/results?q={{pStar.stageName}}">MrStiff</a>
                                    </p>

                                    <p><a target="_blank"
                                          href="http://www.pornhub.com/video/search?search={{pStar.stageName}}">Pornhub</a>
                                    </p>
                                    <img src="{{pStar.scoreImageUrl}}" class="img-fluid" alt="Cinque Terre">
                                </div>
                                <div class="col-md-8">
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
