<ul class="nav nav-pills bg-faded">
    <li class="nav-item">
        <a class="nav-link" ui-sref="list1">Stars</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ui-sref="insert1">Insert</a>
    </li>
</ul>
<div class="navbar navbar-light bg-faded" id="navbar">
    <div class="container" id="navbar-container">
        <div class="navbar-header"><a href="http://angularcode.com" class="navbar-brand">
            <small>
                <i class="glyphicon glyphicon-log-out"></i>
                xLama
            </small>
        </a>
        </div>
    </div>
</div>
